body {
    font-size: 18px;
    color: #6c767d;
    background-color: #ebf1f5;
    height: 100vh;
    min-height: 800px;
}

h1 {
    font-size: 36px;
    margin-bottom: .5em;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
    margin-top: 1em;
}

h4 {
    font-size: 16px;
}

h1,
h2,
h3,
h4 {
    color: black;
}

.card {
    border: none;
    padding: 80px 80px 50px;
    border-radius: 0;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.my-card {
    box-shadow: 0px 5px 15px 5px rgb(203, 221, 232);
}

strike {
    color: red;
}

.btn {
    border-radius: 0;
}

.btn-primary {
    box-shadow: 0px 5px 15px 5px rgb(203, 221, 232);
    padding: 12px 40px;
    transition: ease;
}

.btn-primary:hover {
    box-shadow: 5px -2px 15px 0px rgb(203, 221, 232);
}

.btn-secondary {
    box-shadow: 0px 5px 15px 5px rgb(203, 221, 232);
    padding: 12px 40px;
    transition: ease;
}

.btn-secondary:hover {
    box-shadow: 5px -2px 15px 0px rgb(203, 221, 232);
}

.social {
    padding-left: 0;
}

.social p {
    margin-bottom: 0;
}

.social li {
    list-style: none;
    float: left;
    margin-right: 15px;
}

.card-text {
    margin-bottom: 20px;
}

.social .fa {
    font-size: 24px;
}

.photo-bg {
    /* background-image: url(assets/background.jpg); */
    background-image: url(./img/02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer p {
    font-size: 12px;
}

@media (max-width: 1199px) {
    body {
        min-height: 600px;
    }
    h1 {
        font-size: 24px;
    }
    h2,
    .social .fa {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
    h4,
    p {
        font-size: 14px;
    }
    .card {
        padding: 50px 50px 30px;
    }
}

@media (max-width: 1199px) {
    .photo-bg {
        min-height: calc(100vh - 500px);
    }
}

@media(max-width:991px) {
    .photo-bg {
        background-position: top;
        min-height: calc(90vh - 440px);
    }
}

@media(max-width: 767px) {
    .container {
        position: relative;
        top: 0;
        transform: translateY(0);
    }
    .photo-bg {
        height: 180px;
    }
    .card {
        padding: 20px;
    }
}
body{background-image:url(./img/02bj.jpg); 
    background-repeat:no-repeat;background-position:100%} 
    .title{
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        color: cadetblue;
        margin-top: 100px;
        margin-bottom: 20px;
        font-family: fantasy;
    }
    /* 下面是搜索框样式 */
    .searchBox{
        width: 82%;
        height: 35px;
        border: 1px solid cadetblue;
        outline: hidden;
        border-radius: 2px;
        margin: 0 auto;
        position: relative;
    }
    .inputBox{
        border: none;
        width: 84%;
        height: 26px;
        line-height: 35px;
        outline: none;
        padding-left: 8px;
        caret-color: #008B8B;
        font-size: 14px;
    }
    .searchBtn{
        width: 76px;
        height: 33px;
        border: none;
        position: absolute;
        right: 0;
        outline: none;
        color: white;
        font-size: 15px;
        background-color: cornflowerblue;
    }
    /* 鼠标滑过按钮时背景色改变 */
    .searchBtn:hover{
        background-color: #497fdf;
    }
    #M1{
     width: 100px;
     height: 36px;
     padding-top: 2px\9;
     /* cursor: pointer; */
     color: #fff;
     font-size: 15px;
     /* letter-spacing: 1px; */
     background: #3385ff;
     /* border-bottom: 1px solid #2d78f4; */
     /* outline: medium; */
     *: ;
     border-bottom: none;
     -webkit-appearance: none;
     -webkit-border-radius: 0;
     border: 0;
     text-align: center;
     text-decoration:none;
     color: #fff;
     background-color: #007bff;
     border-color: #007bff;
     padding: 7px;
     float: left;
     margin-left: 2%;     
     margin-top: 2%;
 }